@font-face {
  font-family: 'Formula 1';
  src: url('./assets/fonts/formula1-regular-webfont.woff2') format('woff2'),
    url('./assets/fonts/formula1-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Formula 1';
  src: url('./assets/fonts/formula1-bold-webfont.woff2') format('woff2'),
    url('./assets/fonts/formula1-bold-webfont.woff') format('woff');
  font-weight: 700;
}

#bg:before {
  background-image: url('./assets/img/background.jpg');
}
